body{
    display:grid;
    place-items: center;
    background-color: oklch(37.2% 0.044 257.287);
    margin-top: 175px;
}
h1{
    color: oklch(97.7% 0.013 236.62);
}
.phone-frame{
    height: 450px;
    width: 250px;
    background-color: black;
    text-align: center;
}
.inside-frame{
    height: 350px;
    width: 175px;
    background-color: azure;
    padding: 20px;

}